@model _Ext.DevTools.Model.CompareEntityToDBPageModel
@{
    ViewData["Title"] = "Compare Entity To DB";
}

@section Head {

}

@section ContentHeader {
    <h1>Compare Entity To DB<small></small></h1>
}

<div class="row">
    <div class="col-md-12">
        Total Entities/Rows: @Model.TableComparisonInfos.Count
        <br />
        Contains Issues in @Model.TableComparisonInfos.Count(c => c.HasIssue)
    </div>
</div>
@foreach (var TableComparisonInfo in Model.TableComparisonInfos.FindAll(f => f.HasIssue))
{
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4> @TableComparisonInfo.RowClassName <small>@TableComparisonInfo.TableName</small></h4>
            @TableComparisonInfo.Issues
            @foreach (var field in TableComparisonInfo.FieldComparisonInfos.FindAll(f => f.HasIssue))
            {
                <div>
                    <b>@field.Name</b>
                    field in Database it is <b> @(field.DBField.IsNullable == true ? "NULLABLE " : "NOT NULLABLE") @field.DBField.DataType.ToUpper()</b>
                    But in Row it is <b>@(field.RowField.Flags.HasFlag(Serenity.Data.FieldFlags.NotNull) == true ? "[NotNull]" : "Nullable") @field.RowField.Type</b>

                    @foreach (var issue in field.Issues)
                    {
                        <span class="label label-@issue.GetCssClass("default")">@issue.GetEnumDescription()</span>
                    }
                </div>
            }
        </div>
    </div>

}

